
.category .category-nav {
    background: #9140E9;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px rgba(97, 97, 97, 0.16);
}
.category nav ul  {
    padding: 0 20px;
}

.category nav ul li {
    list-style-type: none;
    width: 200px;
}
.category nav ul a{
    display: flex;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.53);
    padding-bottom: 4px;
    text-transform: uppercase;
    transition: 300ms all;
    padding: 15px;

}

.category nav ul a:hover {
    background: rgba(68, 68, 68, 0.83);
    border-bottom: 1px solid rgba(255, 34, 135, 0.86);
}

.category nav ul a span {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}
